<a href="https://colab.research.google.com/github/vaibhavhirani/ML-Loan-Assignment/blob/main/baseline_models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [144]:
import os
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
os.listdir('/content/drive/MyDrive/')

['Getting started.pdf',
 'Loan Dataset',
 'Colab Notebooks',
 'filtered_loan_2017Q1.csv',
 'filtered_LoanStats_securev1_2017Q1.csv']

In [145]:
loan_data = pd.read_csv("./drive/MyDrive/filtered_LoanStats_securev1_2017Q1.csv", sep=",")

In [146]:
data = loan_data
loan_data.head()
loan_data.shape

(15149, 85)

In [147]:
y = data["loan_status"]
X = data.drop(['loan_status'], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [148]:
data.head()
# data["emp_length"].dtype

   loan_amnt  ...  application_type_Joint App
0     3600.0  ...                           0
1    35000.0  ...                           0
2    17000.0  ...                           0
3    10000.0  ...                           0
4     5000.0  ...                           0

[5 rows x 85 columns]

In [149]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)
y_pred = gnb.predict(X_test)
# gnb.score(X_train, y_train)
print("Accuracy: ", accuracy_score(y_test, y_pred))
print("Classification Report: ", classification_report(y_test, y_pred))
print("Confusion Matrix: ", confusion_matrix(y_true=y_test, y_pred=y_pred))

Accuracy:  0.5587458745874587
Classification Report:                precision    recall  f1-score   support

           0       0.18      0.69      0.28       377
           1       0.93      0.54      0.68      2653

    accuracy                           0.56      3030
   macro avg       0.55      0.62      0.48      3030
weighted avg       0.83      0.56      0.63      3030

Confusion Matrix:  [[ 262  115]
 [1222 1431]]

In [150]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print("Accuracy: ", accuracy_score(y_test, y_pred))
print("Classification Report: ", classification_report(y_test, y_pred))
print("Confusion Matrix: ", confusion_matrix(y_true=y_test, y_pred=y_pred))

Accuracy:  0.7917491749174917
Classification Report:                precision    recall  f1-score   support

           0       0.22      0.27      0.24       377
           1       0.89      0.87      0.88      2653

    accuracy                           0.79      3030
   macro avg       0.56      0.57      0.56      3030
weighted avg       0.81      0.79      0.80      3030

Confusion Matrix:  [[ 101  276]
 [ 355 2298]]

In [151]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 10, metric='euclidean')
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print("Accuracy: ", accuracy_score(y_test, y_pred))
print("Classification Report: ", classification_report(y_test, y_pred))
print("Confusion Matrix: ", confusion_matrix(y_true=y_test, y_pred=y_pred))

Accuracy:  0.8712871287128713
Classification Report:                precision    recall  f1-score   support

           0       0.35      0.04      0.07       377
           1       0.88      0.99      0.93      2653

    accuracy                           0.87      3030
   macro avg       0.61      0.51      0.50      3030
weighted avg       0.81      0.87      0.82      3030

Confusion Matrix:  [[  15  362]
 [  28 2625]]