<a href="https://colab.research.google.com/github/vaibhavhirani/ML-Loan-Assignment/blob/main/baseline_models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
import os
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
os.listdir('/content/drive/MyDrive/')

['Getting started.pdf',
 'Loan Dataset',
 'Colab Notebooks',
 'filtered_loan_2017Q1.csv',
 'filtered_LoanStats_securev1_2017Q1.csv',
 'filtered_LoanStats3c_securev1_2014.csv',
 'filtered_LoanStats_securev1_2017Q3.csv',
 'filtered_LoanStats_securev1_2017Q2.csv',
 'filtered_LoanStats3d_securev1_2015.csv']

In [59]:
loan_data_2014 = pd.read_csv("./drive/MyDrive/filtered_LoanStats3c_securev1_2014.csv", sep=",")
loan_data_2015 = pd.read_csv("./drive/MyDrive/filtered_LoanStats3d_securev1_2015.csv", sep=",")
loan_data_2017q1 = pd.read_csv("./drive/MyDrive/filtered_LoanStats_securev1_2017Q1.csv", sep=",")
loan_data_2017q2 = pd.read_csv("./drive/MyDrive/filtered_LoanStats_securev1_2017Q2.csv", sep=",")
loan_data_2017q3 = pd.read_csv("./drive/MyDrive/filtered_LoanStats_securev1_2017Q3.csv", sep=",")

In [60]:
loan_data = pd.concat([loan_data_2014, loan_data_2015, loan_data_2017q1, loan_data_2017q2, loan_data_2017q3])

In [61]:
import numpy as np
nan_cols = np.isnan(loan_data).sum().sort_values(ascending=False)
cols_to_drop = []

for col, count in nan_cols.iteritems():
  if count > 0:
    cols_to_drop.append(col)

loan_data = loan_data.drop(cols_to_drop, axis=1)

In [62]:
data = loan_data
loan_data.head()
loan_data.shape

(457395, 70)

In [64]:
y = data["loan_status"]
X = data.drop(['loan_status'], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [65]:
data.head()
# data["emp_length"].dtype

   loan_amnt  installment  ...  initial_list_status_f  initial_list_status_w
0    15000.0       336.64  ...                      0                      1
1    10400.0       321.08  ...                      0                      1
2    21425.0       516.36  ...                      0                      1
3     7650.0       260.20  ...                      1                      0
4     9600.0       326.53  ...                      1                      0

[5 rows x 70 columns]

In [66]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)
y_pred = gnb.predict(X_test)
# gnb.score(X_train, y_train)
print("Accuracy: ", accuracy_score(y_test, y_pred))
print("Classification Report: ", classification_report(y_test, y_pred))
print("Confusion Matrix: ", confusion_matrix(y_true=y_test, y_pred=y_pred))

Accuracy:  0.8331353529758998
Classification Report:                precision    recall  f1-score   support

           0       0.57      0.90      0.70     29477
           1       0.97      0.82      0.88    107742

    accuracy                           0.83    137219
   macro avg       0.77      0.86      0.79    137219
weighted avg       0.88      0.83      0.84    137219

Confusion Matrix:  [[26392  3085]
 [19812 87930]]

In [67]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print("Accuracy: ", accuracy_score(y_test, y_pred))
print("Classification Report: ", classification_report(y_test, y_pred))
print("Confusion Matrix: ", confusion_matrix(y_true=y_test, y_pred=y_pred))

Accuracy:  0.8805923377957863
Classification Report:                precision    recall  f1-score   support

           0       0.72      0.72      0.72     29477
           1       0.92      0.92      0.92    107742

    accuracy                           0.88    137219
   macro avg       0.82      0.82      0.82    137219
weighted avg       0.88      0.88      0.88    137219

Confusion Matrix:  [[21214  8263]
 [ 8122 99620]]

In [68]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 10, metric='euclidean')
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print("Accuracy: ", accuracy_score(y_test, y_pred))
print("Classification Report: ", classification_report(y_test, y_pred))
print("Confusion Matrix: ", confusion_matrix(y_true=y_test, y_pred=y_pred))

Accuracy:  0.7603903249549989
Classification Report:                precision    recall  f1-score   support

           0       0.33      0.11      0.17     29477
           1       0.79      0.94      0.86    107742

    accuracy                           0.76    137219
   macro avg       0.56      0.52      0.51    137219
weighted avg       0.69      0.76      0.71    137219

Confusion Matrix:  [[  3283  26194]
 [  6685 101057]]